%img.top-image{:style => "background-image: url('#{image_path "kutu.jpg"}')", :height => "200", :width => "100%"}/
#menu
  %ul
    %li
      %a.active{:href => "company.html"} 企業一覧
    %li
      %a{:href => ""} 社員の価値観
    %li
      %a{:href => ""} 業界/会社/事業
    %li
      %a{:href => ""} 社内環境
    %li
      %a{:href => ""} 女性への環境
    %li
      %a{:href => ""} 選考
    .clear
/ ------------
.entryList
  .container
    .row
      .col-xs-4
        .thumbnail
          .image_box{:style => "background-image: url('#{image_path "suitman1.jpg"}')"}
            .tags
              %a.tag{:href => ""} 株式会社電通[社員の価値観]
              %a.tag{:href => ""} 15〜20年目　男性　企画職
          .caption
            %h3 クリエイティブジャンプを生み出せ！
            %p.well
              仕事においては、クライアントだけでなく、著名なクリエイティブディレクターと一緒に頭を使うことがとても面白く、また「論理やコンサル的なフレームワークだけで人は動かない！」という考えの下、新しい画期的なアイデアが持つワクワク感(遊び心や好奇心)を持ち続けられることが何よりも楽しい...
      .col-xs-4
        .thumbnail
          .image_box{:style => "background-image: url('#{image_path "lives.jpg"}')"}
            .tags
              %a.tag{:href => ""} 株式会社アサヒビール[事業]
              %a.tag{:href => ""} 3〜5年目　男性　営業職
          .caption
            %h3 ぶっちゃけ営業はつまんない
            %p.well
              はじめは基本営業！で、全国の支社にとばされる。だから同じ支社に同期は1、2名程度。営業で成績を残すことで、関東や関西に行けるし、宣伝やマーケの職にいける。栗林様は、今後は経営戦略などM&Aなどをやりたいと思うから、今営業を頑張っている。営業それ自体の仕事は楽しいことは少ないが...

      .col-xs-4
        .thumbnail
          .image_box{:style => "background-image: url('#{image_path "hardwork1.jpg"}')"}
            .tags
              %a.tag{:href => ""} 株式会社電通[社員の価値観]
              %a.tag{:href => ""} 15〜20年目　男性　企画職
          .caption
            %h3 本当に好きじゃないとできない仕事
            %p.well
              本当に好きじゃないとできない仕事だと思う。実際に、何人も途中で辞めた人間を知っているし、いまでこそ改善する方策が取られてはいるけど、当時は150時間残業が当たり前の毎日だったから、そう思ってしまうのも無理はないかもしれない。ただ、広告に限らず、長い年月続けて働いてみない...
.entryList
  .container
    .row
      .col-xs-4
        .thumbnail
          .image_box{:style => "background-image: url('#{image_path "macho1.jpg"}')"}
            .tags
              %a.tag{:href => ""} 株式会社三菱商事[社員の価値観]
              %a.tag{:href => ""} 15〜20年目　男性　企画職
          .caption
            %h3 会議前に腕立てする先輩がいる
            %p.well
              いろんな人が多いと思う。例えばいきなり納豆を食べ始める先輩、そこに醤油と混ぜるタイミングの前後を突っ込む先輩。また会議前に「みんなで腕立てするぞー！」とか言っちゃう先輩組織の意思決定プロセスがしっかりしている。逆に言えば適正に審査されたものは上の裁量で勝手に...
      .col-xs-4
        .thumbnail
          .image_box{:style => "background-image: url('#{image_path "suitman3.jpg"}')"}
            .tags
              %a.tag{:href => ""} 株式会社電通[社員の価値観]
              %a.tag{:href => ""} 15〜20年目　男性　企画職
          .caption
            %h3 アイデアの価値は絶対に無くならない
            %p.well
              これからの広告業界は、海外市場とデジタルをどう攻めて行くか、が全て。正直なところ、広告市場はもの凄い成長を見せるとは決して思えない。でも人間が感情を持つ多種多様な動物である以上は、アイデアの価値は絶対に無くならない。そのアイデアで、媒体や市場を広げながら...
      .col-xs-4
        .thumbnail
          .image_box{:style => "background-image: url('#{image_path "kaiko.jpg"}')"}
            .tags
              %a.tag{:href => ""} 株式会社カルビー[社員の価値観]
              %a.tag{:href => ""} 15〜20年目　男性　企画職
          .caption
            %h3 いつやめるのと言われることも
            %p.well
              社長が外資系出身、中途採用の方や外国人が多いということもあり、外資っぽい雰囲気もある。新卒も半分は留学生。自主性を重んじるような人事制度がある。海外武者修行という1年好きなところにいける制度がある。自主性を重んじるので、研修はしっかりしていない。ただがっつり外資という...
/
  <div class="top-image-wrap">
  <img class="huzokugazo" src="img/suitman2.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">株式会社電通[社員の価値観]</a>
  <a href="" class="tag">15〜20年目　男性　企画職</a>
  </div>
  <div class="title3">クリエイティブジャンプを生み出せ！</div>
  <div class="content">
  仕事においては、クライアントだけでなく、著名なクリエイティブディレクターと一緒に頭を使うことがとても面白く、また「論理やコンサル的なフレームワークだけで人は動かない！」という考えの下、新しい画期的なアイデアが持つワクワク感(遊び心や好奇心)を持ち続けられることが何よりも楽しい。勿論、クライアントのマーケティング局が重視するようなKPIやROIも大切だが、そのさらに上の”味付け”的な全社レベルのコンセプトやビジョン開発を担うのが広告代理店であって、だからこそ如何に説得的なクリエイティブジャンプを生み出せるかが広告マンの醍醐味であると考える。
  </div>
  <div class="clearfix"></div>
  </div>
  </div>

  <div class="top-image-wrap">
  <img class="huzokugazo" src="img/lives.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">株式会社電通[社員の価値観]</a>
  <a href="" class="tag">15〜20年目　男性　企画職</a>
  </div>
  <div class="title3">アイデアの価値は絶対に無くならない</div>
  <div class="content">
  博報堂は、マジで苦労すると思う。ちょっと先行き不透明なところは否定できない。小回りの利いたクリエイティブができる「博報堂ケトル」ぐらいは、しっかりやれそう。因みに、博報堂はクリエイティブとかプランナーが一番優秀だが、電通は営業局に一番優秀な人間が集まるという違いからも判るように、電通は組織力、博報堂は分析力に長けて...
  </div>
  <div class="clearfix"></div>
  </div>
  </div>

  <div class="box1">
  <img class="huzokugazo" src="img/lives.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">株式会社電通[社員の価値観]</a>
  <a href="" class="tag">15〜20年目　男性　企画職</a>
  </div>
  <div class="title3">一人一人の生活者が少しでも豊かに</div>
  <div class="content">
  これからの広告業界は、海外市場とデジタルをどう攻めて行くか、が全て。正直なところ、広告市場はもの凄い成長を見せるとは決して思えない。でも人間が感情を持つ多種多様な動物である以上は、アイデアの価値は絶対に無くならない。そのアイデアで、媒体や市場を広げながら、世の中、延いては一人一人の生活者が少しでも豊かになるよう...
  </div>
  <div class="clearfix"></div>
  </div>

  <div class="box1">
  <img class="huzokugazo" src="img/lives.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">株式会社電通[会社/事業/会社]</a>
  <a href="" class="tag">15〜20年目　男性　企画職</a>
  </div>
  <div class="title3">アイデアの価値は絶対に無くならない</div>
  <div class="content">
  これからの広告業界は、海外市場とデジタルをどう攻めて行くか、が全て。正直なところ、広告市場はもの凄い成長を見せるとは決して思えない。でも人間が感情を持つ多種多様な動物である以上は、アイデアの価値は絶対に無くならない。そのアイデアで、媒体や市場を広げながら、世の中、延いては一人一人の生活者が少しでも豊かになるようにしていきたいし、全社レベルで社長を筆頭にやろうとしているのが事実。そしてそれが実践できるだけのネットワークと推進力、耐久力は確実に電通にはある。逆に、そういう意味で
  は博報堂は、マジで苦労すると思う。ちょっと先行き不透明なところは否定できない。小回りの利いたクリエイティブができる「博報堂ケトル」ぐらいは、しっかりやれそう。因みに、博報堂はクリエイティブとかプランナーが一番優秀だが、電通は営業局に一番優秀な人間が集まるという違いからも判るように、電通は組織力、博報堂は分析力に長けているのかもしれない。電通はイージスと合併して世界4位になったが、アジアの会社である以上、どうしてもプレゼンスが高まらないのは事実。でもだからこそ挑戦する価値はあるし、そのための土台は揃ってると思う。
  </div>
  <div class="clearfix"></div>
  </div>

  <div class="box1">
  <img class="huzokugazo" src="img/suit2.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">株式会社電通[社内環境]</a>
  <a href="" class="tag">15〜20年目　男性　企画職</a>
  </div>
  <div class="title3">気付いたら17年過ぎたね(笑)</div>
  <div class="content">
  電通は、”意外と”風通しがいい。営業局はド派手にやってるところもあるけど、全社レベルではいまの石井社長が変えようとしているし、皆嫌でやってる訳じゃないから、無口で喋ることが好きじゃない人以外は全然楽しめる環境があると思う。勿論、ガミガミ行ってくる上司がいないと行ったら嘘になるけれど、そんなに巷で噂になっているような程ではなく、どこの会社に行っても同じ程度。
  <div class="clearfix"></div>
  </div>

  <div class="box1">
  <img class="huzokugazo" src="img/strongness1.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">三菱商事[社内環境]</a>
  <a href="" class="tag">3〜5年目　男性　 事業部</a>
  </div>
  <div class="title3">
  気付いたら17年過ぎたね(笑)
  </div>
  <div class="content">
  いろんな人が多いと思う。例えばいきなり納豆を食べ始める先輩、そこに醤油と混ぜるタイミングの前後を突っ込む先輩。また会議前に「みんなで腕立てするぞー！」とか言っちゃう先輩組織の意思決定プロセスがしっかりしている。逆に言えば適正に審査されたものは上の裁量で勝手に変更出来ない。一方、物産はその辺が柔軟。またエネルギッシュな人がほとんどで多くの人が毎週末予定を入れている。ボーッとゆっくりする時間を持つ人は少ないそう。神戸さんの場合、何もない休日は4ヶ月に一度程度しかないとのこと。
  </div>
  <div class="clearfix"></div>
  </div>

  <div class="box1">
  <img class="huzokugazo" src="img/suit2.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">株式会社電通[社内環境]</a>
  <a href="" class="tag">15〜20年目　男性　企画職</a>
  </div>
  <div class="title3">本当に好きじゃないとできない仕事</div>
  <div class="content">
  本当に好きじゃないとできない仕事だと思う。実際に、何人も途中で辞めた人間を知っているし、いまでこそ改善する方策が取られてはいるけど、当時は150時間残業が当たり前の毎日だったから、そう思ってしまうのも無理はないかもしれない。ただ、広告に限らず、長い年月続けて働いてみないとその会社で働くことの醍醐味は感じられないとは思うから、働くと決めたなら苦しみながらも耐えてみるべき。電通という会社に関しては、もちろん経営面での強みは、他社より絶対的にあるとは思うけど、働き方とか雰囲気とか労働条件とかは、博報堂とかとほとんど変わらないと思う。恐い部署もあれば、恐い上司もいれば、優しい上司もいるし、おっとりした部署もあるから、どっちが自分に合うかは、本当に色んな人にあってなるべくN数を増やして、体感してみることが大切だと思う。会社の動向としては、デジタル(事例紹介:“Honda Internavi” https://www.youtube.com/watch?v=cKj1RdsG8as)やグローバル(イージスの買収など)の方針が取られているので、それを語れることはたしかに採用の面で有利なるかもしれないけれど、何より「こういう仕事がしたいんです」という妄想がはっきりと言えることが大切。その上で、敢えて要求するとすれば、ブレークスルーできるひと、そして普通の人とは全く違う発想ができる人、が重宝される世界だと思う。
  </div>
  <div class="clearfix"></div>
  </div>

  <div class="box1">
  <img class="huzokugazo" src="img/kaiko.jpg" >
  <div class="box1">
  <div class="tags">
  <a href="" class="tag">カルビー[社内環境]</a>
  <a href="" class="tag">5〜10年目　女性　マーケ部</a>
  </div>
  <div class="title3">いつやめるのと言われたことシビアなことも</div>
  <div class="content">
  社長が外資系出身、中途採用の方や外国人が多いということもあり、外資っぽい雰囲気もある。新卒も半分は留学生。自主性を重んじるような人事制度がある。海外武者修行という1年好きなところにいける制度があるのも特徴的。(詳しくはhpみてね)自主性を重んじるので、研修はしっかりしていない。ただがっつり外資というように”個人”ではなく、日本的なチームプレーらしい部分もある。昇進などの際にも自主性が重んじられるものの、普段のコミュニケーションなどの人間性も考慮されている。また、早く帰らせるような雰囲気もある。結果を出せないと降格になることもある。新商品開発に携わった時に、売上が伸びず、いつやめるのと言われるようなシビアな部分もあった。
  <div class="clearfix"></div>
  </div>
  </div>
.copyright
  .text-right
    %address Copyrights © 2015 All Rights Reserved byTao
  .clearfix