.top
  %h2
    株式会社電通のレポート
.media
  .media-left.media-middle
    %a{:href => "#"}
      %img.media-object{:style => "background-image: url('#{image_path "suitman1.jpg"}')"}/
  .media-body
    %h3.media-heading 気付いたら17年過ぎたね(笑)
    %h4 年次：15〜20年目　　性別：男性　　部署：企画職　[社内環境]
    電通は、”意外と”風通しがいい。営業局はド派手にやってるところもあるけど、全社レベルではいまの石井社長が変えようとしているし、皆嫌でやってる訳じゃないから、無口で喋ることが好きじゃない人以外は全然楽しめる環境があると思う。勿論、ガミガミ行ってくる上司がいないと行ったら嘘になるけれど、そんなに巷で噂になっているような程ではなく、どこの会社に行っても同じ程度。

.media
  .media-left.media-middle
    %a{:href => "http://localhost:3000/show"}
      %img.media-object{:style => "background-image: url('#{image_path "hardwork1.jpg"}')"}
  .media-body
    %h3.media-heading{:href => "http://localhost:3000/show"} 本当に好きじゃないとできない仕事
    %h4 年次：15〜20年目　　性別：男性　　部署：企画職　[社内環境]
    本当に好きじゃないとできない仕事だと思う。実際に、何人も途中で辞めた人間を知っているし、いまでこそ改善する方策が取られてはいるけど、当時は150時間残業が当たり前の毎日だったから、そう思ってしまうのも無理はないかもしれない。ただ、広告に限らず、長い年月続けて働いてみないとその会社で働くことの醍醐味は感じられないとは思うから、働くと決めたなら苦しみながらも耐えてみるべき。
.media
  .media-left.media-middle
    %a{:href => "#"}
      %img.media-object{:alt => "好きなこと", :style => "background-image: url('#{image_path "suitman1.jpg"}')"}/
  .media-body
    %h3.media-heading クリエイティブジャンプを生み出せ！
    %h4 年次：15〜20年目　　性別：男性　　部署：企画職　[社内環境]
    仕事においては、クライアントだけでなく、著名なクリエイティブディレクターと一緒に頭を使うことがとても面白く、また「論理やコンサル的なフレームワークだけで人は動かない！」という考えの下、新しい画期的なアイデアが持つワクワク感(遊び心や好奇心)を持ち続けられることが何よりも楽しい…
.media
  .media-left.media-middle
    %a{:href => "#"}
      %img.media-object{:alt => "好きなこと", :style => "background-image: url('#{image_path "macho1.jpg"}')"}/
  .media-body
    %h3.media-heading 少しでも生活を豊かに、業界に未来はないけど
    %h4 年次：15〜20年目　　性別：男性　　部署：企画職　[社内環境]
    これからの広告業界は、海外市場とデジタルをどう攻めて行くか、が全て。正直なところ、広告市場はもの凄い成長を見せるとは決して思えない。でも人間が感情を持つ多種多様な動物である以上は、アイデアの価値は絶対に無くならない。そのアイデアで、媒体や市場を広げながら、世の中、延いては一人一人の生活者が少しでも豊かになるようにしていきたい
.media
  .media-left.media-middle
    %a{:href => "#"}
      %img.media-object{:style => "background-image: url('#{image_path "suitman3.jpg"}')"}/
  .media-body
    %h3.media-heading アイデアの価値は絶対に無くならない
    %h4 年次：15〜20年目　　性別：男性　　部署：企画職　[社員の価値観]
    これからの広告業界は、海外市場とデジタルをどう攻めて行くか、が全て。正直なところ、広告市場はもの凄い成長を見せるとは決して思えない。でも人間が感情を持つ多種多様な動物である以上は、アイデアの価値は絶対に無くならない。そのアイデアで、媒体や市場を広げながら、世の中、延いては一人一人の生活者が少しでも豊かになるようにしていきたい